body {
  font-family: Google Sans;
  box-sizing: border-box;
  display: block;
  background: #262526;
}
.baslik {
  color: #fff;
  font-family: Google Sans;
  font-size: 105.54px;
  letter-spacing: 0.02rem;
  text-align: left;
}
p {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 21.766px;
  font-style: normal;
  font-weight: 400;
}
nav {
  justify-content: space-between;
  position: relative;
  margin: 2.5rem 0 2.5rem;
}
header {
  background: linear-gradient(
    180deg,
    rgba(149, 212, 250, 0.12),
    rgba(217, 217, 217, 0)
  );
  stroke: #000000;
  filter: drop-shadow(0px, 30px, 4px, #000000);
  height: 200px;
}

.navbar-head {
  margin-top: 0 !important;
  padding-top: 40px;
}

nav a {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 18.302px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.366px;
}
.nav-center {
  display: flex;
  flex-basis: auto;
  justify-content: space-around;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #fff;
}
.navbar-elements {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 18.302px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.366px;
}
.coupon {
  color: #e84741;
  font-family: Google Sans;
  font-size: 18.302px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.366px;
  display: flex;
}
.coupon:hover {
  color: #e84741;
}
.navbar-nav {
  justify-content: space-between;
}

.acount {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 18.302px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.366px;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

.slash {
  color: #e05654;
}
.bursa {
  font-weight: 700;
}

.paragraph {
  position: relative;
  font-size: 25.82px;
  letter-spacing: 0.02rem;
  color: #fff;
  text-align: left;
  font-family: Google Sans;
}
.teknoloji-yazılım {
  position: relative;
  font-size: 25.82px;
  letter-spacing: 0.02rem;
  font-family: Google Sans;
  background: linear-gradient(90.28deg, #eb5858, #3c72ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.katıl-baglanti {
  font-weight: 500;
  font-family: Google Sans;
  color: #fff;
  text-decoration: none;
}
.video {
  margin-top: -70px;
  height: 530px;
  width: 100%;
}
.devfest {
  position: relative;
  font-size: 181.41px;
  letter-spacing: 0.15em;
  font-family: "Google Sans";
  color: #fff;
  text-align: center;
  opacity: 0.1;
}
h5 {
  position: relative;
  font-size: 28.85px;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-family: "Google Sans";
  color: #fff;
  text-align: left;
}
.konu-container {
  margin-top: 55px;
}
.konu {
  border-radius: 29px;
  background-color: #f2b2d7;
}
.konu1 {
  border-radius: 29px;
  background-color: #d0e957;
}
.konu2 {
  border-radius: 29px;
  background-color: #ffbc01;
}
.konu3 {
  border-radius: 29px;
  background-color: #fffaf7;
}

.konu-table {
  text-align: center;
  padding: 40px 0 25px;
}

.konu-body {
  text-align: center;
  margin-top: 20px;
}
.icon {
  font-size: 70px;
  line-height: 60px;
  margin-bottom: 5px;
  color: #0a0a0a; /*#197beb*/
  display: flex;
  justify-content: space-evenly;
}

.konu-body-text {
  position: relative;
  font-size: 30px;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Google Sans";
  color: #000;
  display: inline-block;
}

.timer-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-bottom: 50px;
}

#timer {
  color: #f6f4f3;
  text-align: center;
  text-transform: uppercase;
  font-family: Google Sans, sans-serif;
  font-size: 0.7em;
  letter-spacing: 5px;
  font-size: 20px;
}

.days,
.hours,
.minutes,
.seconds {
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
}

.days {
  background: #e84741;
}

.hours {
  background: #00954b;
}

.minutes {
  background: #0a7cc0;
}

.seconds {
  background: #fab60f;
}
.numbers {
  font-family: Google Sans;
  color: #183059;
  font-size: 4em;
  font-weight: bold;
}
.container-body {
  margin-top: 130px;
}
.katilimci-sayi {
  position: relative;
  border-radius: 29px;
  background-color: #1985c5;
  height: 242px;
}
.sponsor {
  position: relative;
  border-radius: 29px;
  background-color: #f1b926;
  height: 242px;
  margin-top: 26px;
  margin-bottom: 26px;
}
.konusmaci {
  position: relative;
  border-radius: 29px;
  background-color: #e05654;
  height: 242px;
}
.instagram {
  position: relative;
  border-radius: 29px;
  background-color: #119b5d;
  height: 510px;
}
.workshop {
  position: relative;
  border-radius: 29px;
  background-color: #8c9c9c;
  height: 242px;
  margin-top: 26px;
}
.card-right {
  margin-left: 60px;
}
@media only screen and (max-width: 768px) {
  nav {
    margin: 1rem 1rem;
  }
  h1 {
    font-size: 50px;
  }
  .nav-center {
    display: block;
    flex-basis: content;
  }
  .acount {
    text-align: left;
    display: contents;
  }
  .nav-link {
    margin-top: 0.5rem;
  }
  .links {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
  .link-item {
    margin-top: 10px;
  }
  .main-img {
    padding: 0 !important;
    max-width: 93%;
    text-align: center;
  }
  .devider {
    width: 93%;
  }
  .transition {
    display: flex;
    justify-content: space-around;
    margin: 25% 0 0 0;
  }
  .container-left {
    width: 100%;
  }
  .notFound-button {
    width: 363px;
  }
  .notFound-title {
    font-size: 200px;
  }
  .found-image {
    padding: 0;
  }
}
